{% extends "base.html" %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/styles/custom/home.css">
{% endblock %}


{% block content %}
<div class="home-page">
    <h1 class="title" id="home-title">Welcome to Synergos Portal</h1>

    <!-- Dashboard Section -->
    <h4 class="header" id="dashboard-header">Dashboards</h4>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/static/images/orchestrator.svg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Orchestrator</h5>
                            <p class="card-text">Are you a trusted third party looking to orchestrate your
                                own federated cycle?</p>
                            <p class="card-text">
                                <a href="/orchestrator" class="custom-button">
                                    <i class="fa bi-arrow-right-circle-fill fa-2x"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/static/images/participant.svg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Participant</h5>
                            <p class="card-text">Are you an individual or organisation looking to enroll in an existing
                                collaboration?</p>
                            <p class="card-text">
                                <a href="/participant" class="custom-button">
                                    <i class="fa bi-arrow-right-circle-fill fa-2x"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Resources Section -->
    <h4 class="header" id="resources-header">Resources</h4>


</div>
{% endblock %}